# Arduino IDE & Build Artifacts
*.elf
*.hex
*.bin
*.lock
*.eep
*.map
build/
.arduino15/
arduino-cli.yaml

# Visual Studio Code & PlatformIO
.vscode/
.pio/
.pioenvs/
lib/
src/main.cpp

# ESP32 Specific
sdkconfig
sdkconfig.old

# OS Junk
.DS_Store
Thumbs.db